body {
  font-family: sans-serif;
}

.section {
  text-align: center;
}

.template {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-right: 20px;
}

table {
  border-collapse: collapse;
  width: 70%;
  margin: auto;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

th {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.navbar {
  overflow: hidden;
  background: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
}
